language: php

php:
  - hhvm
  - 5.6
  - 5.5
  - 5.4
  - 7.0
  - nightly

before_install:
  - mkdir -p /home/travis/.phpenv/versions/hhvm/etc

before_script:
  - phpenv config-add phpunit.cnf.ini
  - composer self-update
  - composer update --no-dev -o

script: phpunit --stderr --coverage-text

notifications:
  on_success: change
  on_failure: always

matrix:
  fast_finish: true
  allow_failures:
   - php: 7.0
   - php: nightly
   - php: hhvm
